<div id="frame">
  <div id="sidepanel">
    <div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="search" placeholder="Buscar cliente por id o nombre" [(ngModel)]="busqueda" id="search"/>
    </div>
    <div id="contacts">
      <ul>
        <li class="contact" *ngFor="let cliente of clientes | filter : { idusuario: busqueda, nombre: busqueda } ; let i = index ;" [class.active]="selectedIndex === i" (click)="setIndex(i)">
          <div class="wrap" (click)="verCliente(cliente);">
            <div class="meta">
              <p class="name">{{ cliente.idusuario }}</p>
              <p class="name">
                {{ cliente.nombre }} {{ cliente.apepaterno }} {{ cliente.apematerno }}
              </p>
              <p class="preview">{{ cliente.email }}</p>
              <p class="preview">{{ cliente.userphone }}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="contact-profile">
      <p>{{ clienteActual.nombre }} {{ clienteActual.apepaterno }} {{ clienteActual.apematerno }} <span style="float: right;">{{clienteActual.idusuario}}</span></p>
    </div>
    <div class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
          <p class="loading">Cargando Mensajes...</p>
      </ngx-spinner>
      <ul *ngFor="let msg of msgListSC; let i = index;">
        <li [ngClass]="{'sent':msg.autor !== 'Customer_Service','replies-coach':msg.autor == 'CS_Bot','replies':msg.autor == 'Customer_Service'}">
          <p>
            {{msg.mensaje}} 
          </p>
        </li>
      </ul>
    </div>
    <div class="message-input">
      <div class="wrap">
        <input type="text" placeholder="Escribe tu mensaje..." [(ngModel)]="mensaje"/>
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button class="submit" (click)="sendMessage(clienteActual)">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
