<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> 
                    <a class="has-arrow waves-effect waves-dark" [routerLink]="['/chat']" routerLinkActive="router-link-active"  aria-expanded="false">
                        <i class="mdi mdi-wechat"></i>
                        <span class="hide-menu">Chat 
                            <span class="label label-rouded label-themecolor pull-right">4</span>
                        </span>
                    </a>
                </li>
                <li> 
                    <a class="has-arrow waves-effect waves-dark" [routerLink]="['/guaranty']" aria-expanded="false">
                        <i class="mdi mdi-account-alert"></i>
                        <span class="hide-menu">Garantia 
                        </span>
                    </a>
                </li>
                <li> 
                    <a class="has-arrow waves-effect waves-dark" [routerLink]="['/upgrade']" aria-expanded="false">
                        <i class="mdi mdi-arrow-up-bold-circle"></i>
                        <span class="hide-menu">Upgrades 
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->